body {
    background-image: linear-gradient(to right, ivory, peachpuff);
    font-family: "Times New Roman";
    font-size: small;
}

h1 {
    position: relative;
    left: 10px;
    color: darkred;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-shadow:  0 0 7.5px crimson;
}

h3 {
    position: relative;
    left: 3px;
    color: darkred;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    text-shadow:  0 0 7.5px crimson;
}

.info {
    position: relative;
    font-size: medium;
}

#secretMessage{
    position: relative;
    left: 50px;
    color: peachpuff;
    font-size: xx-small;
}