body {
    background-image: linear-gradient(to right, ivory, peachpuff);
    background-size: auto;
    border: 5px dashed crimson;
    margin: 10px;
    font-family: serif;
    font-size: small;
    text-align: center;
}

h1 {
    position: relative;
    left: 10px;
    color: darkred;
    font-size: xx-large;
    font-style: italic;
    font-weight: bold;
    text-shadow:  0 0 7.5px crimson;
}

h3 {
    position: relative;
    left: 3px;
    color: darkred;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    text-shadow: 0 0 7.5px crimson;
}

.info {
    position: relative;
    left: 1px;
    font-size: medium;
}

#secretMessage {
    position: relative;
    text-align: left;
    color: peachpuff;
    font-size: xx-small;
}

#secreterMessage {
    position: relative;
    text-align: right;
    color: #ffdfb9;
    font-size: xx-small;
}

#credits {
    position: absolute;
    top: 15px;
    right: 17px;
    font-size: smaller;
    font-style: italic;
    color: darkred;
}